    .container{
        background-color: #fff;
            text-align: center;
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 700px){
                display:block;
            }
            img{
                height: auto;
                width: 6%;
                padding: 10px;
                @media (max-width: 700px){
                    padding: 10px;
                    height: auto;
                    width: 15%;
                }
                
            }

        }
    }

    .about{
        background-color: black;
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;

        @media (max-width: 700px){
            padding: 5%;
        }

            h1{
                font-size: 600%;
                color: white;     
                
                @media (max-width: 700px){
                    font-size: 350%;
                }
            }
           
            h3{
                padding-left: 15%;
                font-size: 20px;
                color: #0d56df;
                padding-bottom: 1%;

                @media (max-width: 700px){
                    font-size: 15px;
                    padding-left: 25%;
                }

            }

            hr{
                margin-bottom: 2%;
                height: 0.4px;
                width: 90%;
                background-color: #ffffff;
            }

           .divisor{
            display: flex;
            
            @media (max-width: 700px){
                display: inline;
            }

            img{
                width: 400px;
                height: auto;
                border-radius: 10px;
                padding-right: 2%;

                @media (max-width: 700px){
                    width: 250px;
                }
            }


            .text-about{
                h2{
                padding-bottom: 2%;
                font-size: 100%;
                color: white;
                text-transform: uppercase;
            

                @media (max-width: 700px){
                    font-size: 15px;
                }
            }
          }
        }

        .download-cv{
            text-decoration: none;
            color: #fff;
            border: solid #0d56df;
            padding: 6px;
            background-color: #0d56df;

            &:hover{
                color: red;
                border: solid #5591ff;
                background-color: #0d56df;
                transition: 0.7s;
            }
        }

    }

    .projects{
        padding: 4% 7% 4% 7%;
        background-color: #000000;   

        .h1-title{
            font-size: 600%;
            color: white;     
            text-align: end;
            
            @media (max-width: 700px){
                font-size: 350%;
            }
        }
        
        .h3-title{
            padding-left: 15%;
            font-size: 20px;
            color: #0d56df;
            text-align: end;
            padding-bottom: 1%;

            @media (max-width: 700px){
                font-size: 15px;
                padding-left: 25%;
            }

        }
        
        hr{
            margin-bottom: 2%;
            height: 0.4px;
            width: 90%;
            background-color: #ffffff;
            padding-left: 10%;
            // translate: 140px;
        }
    }

